<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.king.dao.user.UserMapper">
	<!-- 用户登录 -->
	<select id="loginIn" parameterType="Login" resultType="User">
			select username,userpassword,active,userid,useremail from user 
			where username=#{userName} and userpassword=#{password}
	</select>
	
	<!-- 用户注册 -->
	<insert id="regist" parameterType="Regist">
			insert into user(username,userpassword,useremail,activeCode,create_time) 
			values(#{userName},#{userPassword},#{userEmail},#{activeCode},#{createTime})
	</insert>
	
	<!-- 用户名注册验证 -->
	<select id="findUserByUserName" parameterType="string" resultType="int">
		SELECT count(1) FROM USER WHERE username = #{userName}
	</select>
	
	<!-- 邮箱注册验证 -->
	<select id="checkUserEmail" parameterType="string" resultType="int">
		SELECT count(1) FROM USER WHERE useremail = #{userEmail}
	</select>
	
	<!-- 邮箱激活验证 -->
	<select id="active" parameterType="string" resultType="User">
		SELECT activeCode,active FROM USER WHERE activeCode = #{activeCode}
	</select>
	<!-- 激活 -->
	<update id="updateActive" parameterType="string" >
		UPDATE USER SET active=1 WHERE activeCode = #{activeCode}
	</update>
	
	
	<resultMap id="userResultMap" type="User">
		  <id property="userId" column="userid" />
		  <result property="userName" column="username"/>
		  <result property="userPassword" column="userpassword"/>
		  <result property="userSex" column="usersex"/>
		  <result property="userAge" column="userage"/>
		  <result property="userEmail" column="useremail"/>
		  <result property="userTel" column="usertel"/>
		  <result property="createTime" column="create_time"/>
		  <result property="updateTime" column="update_time"/>
		  <result property="headerPic" column="header_pic"/>
		  <result property="active" column="active"/>
		  <result property="isDelete" column="is_delete"/>
		  <result property="state" column="state"/>
		  <result property="activeCode" column="activeCode"/>
	</resultMap>
	
</mapper>