<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.king.dao.user.UserMapper">
	<!-- 查找所有用户 -->
	<select id="findAllUsers" parameterType="UserParams" resultType="User">
			SELECT 
			    userid as userId,
			    role_id as roleId,
			    ip,
			    ipaddress as ipAddress,
			    username as userName,
			    userpassword as userPassword,
			    useremail as userEmail,
			    userage  as userAge,
			    usertel as userTel,
			    usersex as userSex,
			    weixin,
			    qq,
			    is_delete as isDelete,
			    header_pic as headerPic,
			    forbiden,
			    description,
			    create_time as createTime,
			    birthday,
			    address,
			    activeCode,
			    active,
			    state
			  FROM
			    USER
			  order by create_time asc
			  LIMIT #{pageNo},#{pageSize}
	</select>
	
	<!-- 用户登录 -->
	<select id="getUser" parameterType="UserParams" resultType="User">
			SELECT 
			    userid as userId,
			    role_id as roleId,
			    ip,
			    ipaddress as ipAddress,
			    username as userName,
			    userpassword as userPassword,
			    useremail as userEmail,
			    userage  as userAge,
			    usertel as userTel,
			    usersex as userSex,
			    weixin,
			    qq,
			    is_delete as isDelete,
			    header_pic as headerPic,
			    forbiden,
			    description,
			    create_time as createTime,
			    birthday,
			    address,
			    activeCode,
			    active,
			    state 
			  FROM
			    USER
			  where 
				username=#{userName} and userpassword=#{userPassword}
	</select>
	
	<!-- 获取总记录数 -->
	<select id="countUser" resultType="int" parameterType="UserParams">
		SELECT
			count(1) 
		FROM
			USER 
	</select>
	
	<!-- 用户注册 -->
	<insert id="saveUser" parameterType="User">
			insert into user(
				username,
				ip,
				ipaddress,
				userpassword,
				useremail,
				activeCode,
				create_time,
				header_pic 
			)values(
				#{userName},
				#{ip},
				#{ipAddress},
				#{userPassword},
				#{userEmail},
				#{activeCode},
				#{createTime},
				#{headerPic}
			)
	</insert>
	
	<!-- 用户名注册验证 -->
	<select id="findUserByUserName" parameterType="string" resultType="int">
		SELECT count(1) FROM USER WHERE username = #{userName}
	</select>
	
	<!-- 邮箱注册验证 -->
	<select id="checkUserEmail" parameterType="string" resultType="int">
		SELECT count(1) FROM USER WHERE useremail = #{userEmail}
	</select>
	
	<!-- 邮箱激活验证 -->
	<select id="active" parameterType="string" resultType="User">
		SELECT activeCode,active FROM USER WHERE activeCode = #{activeCode}
	</select>
	<!-- 激活 -->
	<update id="updateActive" parameterType="string" >
		UPDATE USER SET active=1 WHERE activeCode = #{activeCode}
	</update>
	
</mapper>